* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  --background: #f9f9f9;
}

button {
  cursor: pointer;
}

a:visited {
  color: #0000ee
}

.App {
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.url-form {
  display: flex
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.3rem;
  box-shadow: 0 1px 4px #ccc;
  background-color: #FFFFFF;
  height: 2.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  margin-bottom: 1em;
}

.header__link,
.header__link:visited {
  text-decoration: none;
  color: seagreen;
}

.header__text {
  align-self: center;
  letter-spacing: 0.2em;
}


.navbar {
  align-self: right;
  width: 50%;
  height: 100%;
  display: block;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 6em;
  background-color: #333333;
  border-top: 5px solid seagreen;
  flex-direction: column;
  color: #EEEEEE;
  text-align: center;
  margin-top: auto;
  padding: 1em;
}

.footer-nav {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.footer-nav a {
  color: #FFFFFF;
  display: flex;
  gap: 1em;
  justify-content: center;
  text-decoration: none;
}

.urlbox {
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  width: min(45em, 95vw);
  color: #484848;
  text-align: center;
  box-shadow: 0 1px 4px #ccc;
  border-radius: 2px;
}

.urlbox__header,
.description__header {
  color: #505050;
}

.input-box,
.description {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  width: min(45em, 100%);
  padding: 0.5em;
}

.description__p {
  margin: 0.5em 0;
  color: #484848
}

.description__p a {
  text-decoration: none;
}

.description__p a:hover,
.footer-nav a:hover {
  text-decoration: underline;
}

.description__cards {
  display: flex;
  margin: 1em auto 2em;
  width: min(45em, 100%);
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.description__card {
  display: flex;
  width: max(20em, 15%);
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5em;
}

.nav-item {
  display: inline-flex;
  width: auto;
  padding-right: 2%;
  height: 100%;
  background-color: white;

}

.input-box__header {
  color: #505050;
  text-align: center;
  font-size: 3rem;
}

.url-form__input {
  padding: 1em;
  display: block;
  font-size: large;
  border: 1px solid seagreen;
  border-radius: 8px 0px 0px 8px;
  width: 100%;
}

.url-form__button {
  min-width: fit-content;
  font-size: larger;
  padding: 0.5em;
  border: 0;
  border-radius: 0px 8px 8px 0px;
  background-color: seagreen;
  color: white;
}

.short-url-box:has(p) {
  display: flex;
  width: min(45em, 100%);
  border-radius: 8px;
  background-color: rgba(46, 139, 86, 0.278);
  align-self: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: start;
  align-items: center;
  color: #484848;
  padding: 1em;
  font-size: large;
  transition-duration: 0.3s;
}

.short-url-box:has(.errmsg) {
  background-color: rgba(255, 0, 0, 0.278);
  text-align: center;
}

.short-url-box p {
  flex-shrink: 1;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1.3em;
  width: 100%;
}

.url-statistics-box {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em
}

.url-statistics-box:has(a) {
  flex-wrap: wrap;
  overflow: visible;
  word-break: break-all;
  white-space: break-spaces;
  align-items: flex-start;
}

.short-url-box a {
  flex-shrink: 0;
  font-weight: bold;
  max-width: fit-content;
  color: #0000ee;
}

.copy-button {
  flex-shrink: 0;
  border: 0;
  background-color: transparent;
  margin-left: 1em;
  color: #0000ee;
  font-size: large;
  width: fit-content
}

.copy-button:hover {
  background-color: hwb(240 0% 7% / 0.10)
}

.short-url-box button {
  width: 4em;
  color: white;
  height: 2em;
  border-radius: 8px;
  background-color: rgba(46, 139, 86, 1);
}

@media screen and (max-width:576px) {
  .footer-nav {
    margin-top: 0.5em;
    flex-direction: column;
    padding: 0 1em;
  }

  .footer-nav span {
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    text-align: left;
  }

  .footer-nav span:last-child {
    border: none;
  }

  .footer-nav span a {
    width: fit-content;
  }
}

@media screen and (max-width:760px) {
  .short-url-box {
    flex-direction: column;
    gap: 0.5em;
  }

  .short-url-box a {
    margin-right: auto
  }

  .short-url-box button {
    width: min(100%);
    margin: 0;
  }

}